/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
.body_main {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover,
#on_login {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.projets {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.projets h2 {
	margin-right: 20px;
}

.modale_container {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
}

.modale {
	position: fixed;
	overflow: auto;
	height: 85%;
	width: 40%;
	margin: 0;
	padding: 25px 25px 10px;
	border-radius: 20px;
	font-family: 'Work Sans';
	background-color: white;
}

.modale_header {
	display: flex;
	justify-content: flex-end;
}

#modale_bouton_return {
	width: 100%;
	display: none;
	justify-content: flex-start;
	border: 0;
	background-color: inherit;
}

#modale_bouton_close {
	width: 20px;
	height: 20px;
	border: 0;
	background-color: inherit;
}

#modale_bouton_return i,
#modale_bouton_close i {
	font-size: 20px;
}

#ajout_photo {
	display: none;
}

.modale p {
	display: flex;
	justify-content: center;
	font-size: 26px;
	margin: 20px;
}

.modal_gallery {
	padding: 30px 0px 60px;
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 30px;
}

.modal_gallery img {
	display: flex;
	width: 100%;
}

.modale hr {
	width: 80%;
	color: #B3B3B3;
}

.modale input {
	all: unset;
	border: 0;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 14px;
	padding: 15px 30px 15px;
}

figure {
	position: relative;
}

.delete_icon {
	color: white;
	background-color: black;
	font-size: 0.8vw;
	padding: 5%;
	border-radius: 20%;
	position: absolute;
	top: 6%;
	right: 8%;
}

.send_work {
	display: none;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
}

.send_work_image {
	border-radius: 3px;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 200px;
	margin: 10px 0 30px;
}

.send_work i {
	padding: 20px 0 10px;
	color: #B9C5CC;
	font-size: 80px;
}

.send_work_form {
	flex-direction: column;
}

input[type=file] {
	all: inherit;
	display: flex;
	align-items: center;
	background-color: #CBD6DC;
	height: 40px;
	width: 190px;
	border-radius: 60px;
}

input[type=file]::file-selector-button {
	all: inherit;
	color: transparent;
	background-color: transparent;
	border: none;
	z-index: 2;
	height: 40px;
	width: 190px;
}

#add_file {
	color: #306685;
	width: 190px;
	position: relative;
	bottom: 28px;
	display: flex;
	justify-content: center;
	text-align: center;
	z-index: 1;
}

.send_work p {
	color: #444444;
	position: relative;
	bottom: 5px;
	font-size: 10px;
	padding: 0 0 20px;
	margin: 0;
}

.new_image_preview {
	height: 100%;
	object-fit: contain;
}

.send_work_title_category {
	font-size: 14px;
	color: #3D3D3D;
	display: flex;
	flex-direction: column;
	position: relative;
}

.send_work_title_category #title {
	font-size: 14px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: #444444;
	margin-bottom: 20px;
	height: 25px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: left;
}

.send_work_title_category #category {
	appearance: none;
	height: 55px;
	margin-bottom: 40px;
	padding-left: 15px;
	padding-right: 30px;
	border: none;
	color: inherit;
	background-color: transparent;
	font-size: 14px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: #444444;
	z-index: 2;
}

#chevron_down {
	color: #6C6C6C;
	font-size: 12px;
	position: absolute;
	right: 25px;
	top: 50%;
	transform: translateY(35%);
	z-index: 1;
}

.send_work_labels {
	margin-bottom: 10px;
}

.send_work hr {
	margin-top: 20px;
	width: 100%;
	color: #B3B3B3;
}

#send_work_button {
	display: none;
	background-color: #a7a7a7;
	margin-top: 20px;
	margin-bottom: 15px;
}

#mode_edition_header {
	max-width: 100%;
	display: none;
	justify-content: center;
	color: white;
	background-color: black;
	padding: 20px;
	font-family: 'Work Sans';
	font-size: 16px;
}

#mode_edition_header i {
	padding-right: 10px;
}

.modale_overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
}

#mode_edition_modifier {
	all: inherit;
	height: 16px;
	padding: 4px;
	margin-top: 4px;
	display: none;
}

#mode_edition_modifier i {
	margin-right: 5px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact,
#login {
	width: 50%;
	margin: auto;
}

#login {
	margin-top: 150px;
	margin-bottom: 350px;
}

#contact>*,
#login>* {
	text-align: center;
}

#contact h2,
#login h2 {
	margin-bottom: 20px;
}

#contact form,
#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label,
#login label {
	margin: 2em 0 1em 0;
}

#contact textarea,
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#forgot_password {
	text-decoration: underline;
}

#failed_login {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 30px;
	color: red;
}

#error_message,
#error_message_delete {
	font-size: 14px;
	text-align: center;
	color: red;
	padding: 0;
	margin: 0;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Catégories */

.categories {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
	color: #1D6154;
}

.categories p {
	font-family: 'Syne';
	font-weight: 700;
	padding: 10px 20px 10px;
	margin: 10px;
	border: 1px solid #1D6154;
	border-radius: 50px;
}

.p_selected {
	color: white;
	background-color: #1D6154;
}

a {
	text-decoration: none;
	color: inherit;
}